body{
    background-color:black;
    /* background-image: url('https://www.wallpapertip.com/wmimgs/27-273004_grunge-warning-industrial-plants-danger-stripes-industrial-danger.jpg');
    background-repeat: no-repeat; */

  }
  
  h1 {
      display:flex; 
      align-self: center;
      justify-content: center;
      text-align: center;
      color:white;
      font-size: 400%;
      font-family: 'Special Elite', cursive;
      margin-top: 6%;
  }
  
  button {
          display:flex;
          align-content: center;
          justify-content: center;
          border-radius: 50%;
          margin: auto;
          background-image: url('https://wallpaperaccess.com/full/808182.jpg');
          background-size: cover;
          text-align: center;
          padding: 10%;
          font-size: 40px;
          font-family: 'Special Elite', cursive;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
          text-align: center;
          color: black;
     }
  
  button:hover {
    background-color: red;
  }
  
  img {
      margin: auto;
      height: 100%;
      
  }